<template>
  <div class="bar">
    <h2>Bar</h2>
    {{ msg }}

    <div>
      <app-contact-link></app-contact-link>
    </div>
  </div>
</template>

<script src="./bar.js"></script>
<style lang="less" src="./bar.less"></style>
